@charset "utf-8";

@font-face {
  font-family: "blippo";
  src: url("./blippo.ttf");
}

.color-0 {
  background-color: #edad0b;
}
.color-1 {
  background-color: #f6ca06;
}
.color-2 {
  background-color: #ffe600;
}
.color-3 {
  background-color: #d8e212;
}
.color-4 {
  background-color: #a4c520;
}
.color-5 {
  background-color: #23ac0e;
}
.color-6 {
  background-color: #009250;
}
.color-7 {
  background-color: #009f8c;
}
.color-8 {
  background-color: #0086ab;
}
.color-9 {
  background-color: #007fb1;
}
.color-10 {
  background-color: #007ab7;
}
.color-11 {
  background-color: #3261ab;
}
.color-12 {
  background-color: #5d639e;
}
.color-13 {
  background-color: #744199;
}
.color-14 {
  background-color: #932674;
}
.color-15 {
  background-color: #a52175;
}
.color-16 {
  background-color: #b61972;
}
.color-17 {
  background-color: #bf1e56;
}
.color-18 {
  background-color: #c7243a;
}

html,
body {
  font-family: "Verdana";
  color: #fff;
  background-color: #38353e;
  margin: 0px;
}

h1 {
  font-size: 30pt;
  font-family: "blippo";
  background: linear-gradient(to right, #fb4d75, #fb4d75);
  margin: 0px;
  padding: 5px;
}

h2 {
  font-size: 20pt;
  font-family: "blippo";
  color: #fff;
  background: linear-gradient(to right, #fc8d3a, #ffb81a);

  margin: 20px 0px;
  padding: 5px;
}

h3 {
  font-size: 15pt;
  background-color: rgba(255, 255, 255, 20%);
  margin: 20px 0px;
  padding: 5px;
}

body {
  font-size: 12pt;
}

ul.list {
  list-style: none;
}
ul.list > li > ul:nth-child(even) {
  background-color: rgba(255, 255, 255, 5%);
}

.row-header {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 20%);
}

.row {
  display: table;
}

.row li {
  display: table-cell;
  width: 6em;
}

.mark {
  font-weight: bold;
  background-color: #fb4d75;
}

input,
button {
  font-size: 12pt;
  border: none;
  border-radius: 13px;
  box-shadow: none;
  padding: 2px 8px;
}

.contents {
  margin: 5px;
}

ul {
  padding: 2px 0px;
}

a {
  color: #fff;
}
